$primary: #296379;
$secondary: #888;
$info: #1e9fd0;
$success: #217d29;
@import "bootstrap/scss/bootstrap";

html,
body,
#root {
  height: 100%;
}
html {
  background-color: grey;
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body {
  background-color: transparent;
  text-align: center;
}
.App {
  min-height: 100%;
  max-width: 30rem;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  background-color: #fff8;
}
